<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Codecia_Dynamicfilter>
            <version>1.0.0</version>
        </Codecia_Dynamicfilter>
    </modules>
    <default>
        <codecia_dynamicfilter>
            <setting>
                <active>0</active>
            </setting>
            <frontend>
                <title>Filtro Dinamico</title>
                <addQty>0</addQty>
                <only_stock_products>0</only_stock_products>
            </frontend>
            <configurable_cron>
                <active>0</active>
            </configurable_cron>
        </codecia_dynamicfilter>
    </default>
    <global>
        <models>
            <codecia_dynamicfilter>
                <class>Codecia_Dynamicfilter_Model</class>
                <resourceModel>codecia_dynamicfilter_resource</resourceModel>
            </codecia_dynamicfilter>
            <codecia_dynamicfilter_resource>
                <class>Codecia_Dynamicfilter_Model_Resource</class>
                <deprecatedNode>codecia_dynamicfilter_mysql4</deprecatedNode>
            </codecia_dynamicfilter_resource>
        </models>
        <events>
            <catalog_product_save_before>
                <observers>
                    <codecia_dynamicfilter>
                        <type>model</type>
                        <class>codecia_dynamicfilter/observer</class>
                        <method>setCategoryFilter</method>
                    </codecia_dynamicfilter>
                </observers>
            </catalog_product_save_before>
        </events>
        <helpers>
            <codecia_dynamicfilter>
                <class>Codecia_Dynamicfilter_Helper</class>
            </codecia_dynamicfilter>
        </helpers>
        <cache>
            <types>
                <codecia_dynamicfilter translate="label, description" module="codecia_dynamicfilter">
                    <label>Cache Filtro Dinâmico</label>
                    <description>Construção do filtro.</description>
                    <tags>CODECIA_DYNAMICFILTER</tags>
                </codecia_dynamicfilter>
            </types>
        </cache>
        <resources>
            <codecia_dynamicfilter_setup>
                <setup>
                    <module>Codecia_Dynamicfilter</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codecia_dynamicfilter_setup>

            <codecia_dynamicfilter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codecia_dynamicfilter_write>

            <codecia_dynamicfilter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codecia_dynamicfilter_read>
        </resources>
        <blocks>
            <codecia_dynamicfilter>
                <class>Codecia_Dynamicfilter_Block</class>
            </codecia_dynamicfilter>
        </blocks>
    </global>
    <crontab>
        <jobs>
            <codecia_dynamicfilter_cron>
                <run>
                    <model>codecia_dynamicfilter/cron::cleanCache</model>
                </run>
            </codecia_dynamicfilter_cron>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <codecia_dynamicfilter>
                <use>standard</use>
                <args>
                    <module>Codecia_Dynamicfilter</module>
                    <frontName>dynamicfilter</frontName>
                </args>
            </codecia_dynamicfilter>
        </routers>
        <translate>
            <modules>
                <Codecia_Dynamicfilter>
                    <files>
                        <default>Codecia_Dynamicfilter.csv</default>
                    </files>
                </Codecia_Dynamicfilter>
            </modules>
        </translate>
        <layout>
            <updates>
                <codecia_dynamicfilter>
                    <file>codecia_dynamicfilter.xml</file>
                </codecia_dynamicfilter>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
             <codecia_dynamicfilter_admin>
                 <use>admin</use>
                 <args>
                     <module>Codecia_Dynamicfilter</module>
                     <frontName>codecia_dynamicfilter_admin</frontName>
                 </args>
             </codecia_dynamicfilter_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Codecia_Dynamicfilter>
                    <files>
                        <default>Codecia_Dynamicfilter.csv</default>
                    </files>
                </Codecia_Dynamicfilter>
            </modules>
        </translate>
        <layout>
            <updates>
                <codecia_dynamicfilter>
                    <file>codecia_dynamicfilter.xml</file>
                </codecia_dynamicfilter>
            </updates>
        </layout>
    </adminhtml>
</config>
